aws_region                             = 
vpc_name                               = 
vpc_cidr_block                         = 
vpc_availability_zones                 = 
vpc_public_subnets                     = 
vpc_private_subnets                    = 
vpc_database_subnets                   = 
vpc_create_database_subnet_group       = 
vpc_create_database_subnet_route_table = 
create_database_internet_gateway_route = 
create_database_nat_gateway_route      = 
vpc_enable_nat_gateway                 = 
vpc_single_nat_gateway                 = 
enable_dns_hostnames                   = 
enable_dns_support                     = 
rds_password                           = 
rds_db_name                            = 
rds_instance_name                      = 
